In [68]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import matplotlib.dates as mdates

filename = '20160101_20221231_Modesto.tot_lev20'

# Load Files 
df = pd.read_csv(filename,skiprows = 6, parse_dates={'datetime':[0,1]})
datetime_utc=pd.to_datetime(df["datetime"], format='%d:%m:%Y %H:%M:%S')
#print(datetime_pac.head())
datetime_pac= pd.to_datetime(datetime_utc).dt.tz_localize('UTC').dt.tz_convert('US/Pacific')
#print(datetime_pac.head())

df.set_index(datetime_pac, inplace = True)
#print(df.head())  

AODTotalColumns=range(3,173,8)
#for iWaveLength in df.columns[AODTotalColumns]: print(iWaveLength) #Print out the List of Wavelength with AOD Total

#df.loc[df['AOD_500nm-Total'] < 0][['AOD_500nm-Total','AOD_675nm-Total']]
#print(df['AOD_500nm-Total'])
df['AOD_380nm-Total'].replace(-999.0, np.nan, inplace = True)
df['AOD_440nm-Total'].replace(-999.0, np.nan, inplace = True)
df['AOD_500nm-Total'].replace(-999.0, np.nan, inplace = True)
df['AOD_675nm-Total'].replace(-999.0, np.nan, inplace = True)

In [57]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],

                   'B': [5, 6, 7, 8, 9],

                   'C': ['a', 'b', 'c', 'd', 'e']})
df
df.replace(0, 5)

   A  B  C
0  5  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [46]:
df.loc[df['AOD_500nm-Total'] < 0][['AOD_500nm-Total','AOD_675nm-Total']]

                           AOD_500nm-Total  AOD_675nm-Total
datetime
2017-02-16 11:28:59-08:00           -999.0         0.101074
2017-03-04 13:27:14-08:00           -999.0         0.168126
2017-11-10 09:58:57-08:00           -999.0         0.089695
2018-07-29 14:57:08-07:00           -999.0         1.541051
2018-07-29 15:42:08-07:00           -999.0         1.269539
...                                    ...              ...
2021-10-03 08:31:26-07:00           -999.0         1.293391
2021-10-03 08:34:03-07:00           -999.0         1.308164
2021-10-25 13:58:27-07:00           -999.0         0.120076
2022-03-16 09:43:21-07:00           -999.0         0.133609
2022-05-10 09:47:43-07:00           -999.0         0.105159

[87 rows x 2 columns]

In [12]:
num = np.array([0.1, .2, .9,0.9, -9999, ])
print(num.mean())
print(np.median(num))

-1999.3799999999999
0.2

In [70]:
StartDate='2019-02-01'
EndDate='2019-02-28'
df.loc[StartDate:EndDate,['AOD_380nm-Total','AOD_440nm-Total','AOD_500nm-Total','AOD_675nm-Total']]


plt.figure(figsize=(10,7))  
for iWaveLength in df.columns[AODTotalColumns[5:-1]]: 
    if(df[iWaveLength].mean() > 0):
        #print(iWaveLength)
        plt.plot(df.loc[StartDate:EndDate,iWaveLength].resample('1D').mean(),'.',label=iWaveLength)
        #plt.plot(df[iWaveLength][0:94],'.',label=iWaveLength)

plt.gcf().autofmt_xdate()
plt.gca().xaxis.set_major_locator(mdates.DayLocator(interval=1, tz='US/Pacific'))
plt.gca().xaxis.set_minor_locator(mdates.HourLocator(interval=3, tz='US/Pacific'))
plt.gca().xaxis.set_major_formatter(mdates.DateFormatter('%m-%d'))
#plt.ylim(0.0,0.8)
plt.legend()
plt.show()

IndentationError: expected an indented block after 'if' statement on line 8 (4135625522.py, line 10)